extends ../../layout/default.pug
include ../../mixins/flash-messages.pug
block main
  h1(class="mb-4") Phân quyền
  +flashMessage()
  +flashMessageError()
  if(role)
    div(class="text-right")
      button(class="btn btn-primary mb-3" type="submit" button-submit ) Tạo mới nhóm quyền
    table(class="table table-hover table-sm" table-permission)
      thead
        tr
          th Tính năng
          each item in role
            th(class="text-center") #{item.title}
      tbody
        tr(data-name="id" style="display: none;")
          td
          each item in role
            td(class="text-center")
              input(type="text" name="id" value=item.id readonly)
        //- Danh sách sản phẩm
        tr
          td(colspan="4")
            b Danh sách sản phẩm
        tr(data-name="products-category_view")
          td Xem
          each item in role
            td(class="text-center")
              input(
                type="checkbox"
                data-id=item.id 
                data-name="products_view"
                checked=(item.permissions.includes("products-category_view") ? true : false)
              )
        tr(data-name="products-category_create")
          td Thêm mới
          each item in role
            td(class="text-center")
              input(
                type="checkbox" 
                data-id=item.id 
                data-name="products_view"
                checked=(item.permissions.includes("products-category_create") ? true : false)                
              )
        tr(data-name="products-category_edit")
          td Chỉnh sửa
          each item in role
            td(class="text-center")
              input(
                type="checkbox" 
                data-id=item.id 
                data-name="products_view"
                checked=(item.permissions.includes("products-category_edit") ? true : false)                
              )
        tr(data-name="products-category_delete")
          td Xóa
          each item in role
            td(class="text-center")
              input(
                type="checkbox"
                data-id=item.id 
                data-name="products_view"
                checked=(item.permissions.includes("products-category_delete") ? true : false)                 
              )
  form(
    action=`${systemAdmin}/roles/permission?_method=PATCH`
    method="POST"
    id="form-change-permission")
    div(class="form-group" style="display: none;")
      input(
        type="text"
        class="form-control"
        name="permission")
  script(src="/admin/js/permission.js")