extends ../../layout/default.pug
include ../../mixins/flash-messages.pug
block main
  h1(class="mb-4") #{pageTitle}
  +flashMessageError()
  form(
    action=`${systemAdmin}/accounts/edit/${account._id}?_method=PATCH`
    method="POST"
    id="form-create-product"
    enctype="multipart/form-data")
    div(class="form-group")
      label(for="fullname") Tên đầy đủ
      input(
        type="text"
        class="form-control"
        id="fullname"
        name="fullname"
        required
        value=`${account.fullname}`
      )
    div(class="form-group")
      label(for="email") email
      input(
        type="text"
        class="form-control"
        id="email"
        name="email"
        required
        autocomplete="email"
        value=`${account.email}`
      )
    div(class="form-group")
      label(for="password") password
      input(
        autocomplete="current-password"
        type="password"
        class="form-control"
        id="password"
        name="password"
      )
    div(class="form-group")
      label(for="phone") phone
      input(
        type="number"
        class="form-control"
        id="phone"
        name="phone"
        required
        value=`${account.phone}`
      )
    div(
      class="form-group"
      upload-image
    )
      label(for="avatar") Ảnh
      input(
        type="file"
        class="form-control-file"
        id="avatar"
        name="avatar"
        accept="image/*"
        upload-image-input
      )
      img(
        src=account.avatar
        class="image-preview"
        upload-image-preview
      )
    if(roles.length > 0)
        div(class="form-group")
            label(for="role") Phân quyền
            select(
            class="form-control"
            id="role"
            name="role"
            required
            )
                option(value="") Chọn nhóm quyền
                each role in roles
                    if(role.id == account.role)
                      option(value=role.id, selected) !{role.title}
                    else
                      option(value=role.id) !{role.title}
    else
        div(class="form-group")
            a(
                href=`${systemAdmin}/roles/create`
                class="btn btn-sm btn-outline-success"
            ) Thêm mới nhóm quyền
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusActive"
        name="status"
        value="active"
        checked=`${account.status}` == 'active'
      )
    label(for="statusActive" class="form-check-label") Hoạt động
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusInActive"
        name="status"
        value="inactive"
        checked=`${account.status}` == 'inactive'
      )
      label(for="statusInActive" class="form-check-label") Dừng hoạt động
    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Sua thong tin