extends ../../layout/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search-product.pug
include ../../mixins/pagination-page.pug
include ../../mixins/multi-change-status.pug
include ../../mixins/flash-messages.pug
include ../../mixins/sort.pug

block main
  .page-header.mb-4
    .row.align-items-center
      .col-md-6
        h1.page-title
          i.fas.fa-users.mr-2
          | Quản lý tài khoản
      .col-md-6.text-right
        if(roleList.permissions.includes('accounts_create'))
          a.btn.btn-primary(href=`${systemAdmin}/accounts/create`)
            i.fas.fa-user-plus.mr-2
            | Thêm tài khoản mới

  .card.mb-4
    .card-header.bg-white
      .row.align-items-center
        .col-md-6
          h5.card-title.mb-0
            i.fas.fa-filter.mr-2
            | Bộ lọc và tìm kiếm
        .col-md-6.text-right
          button.btn.btn-link.btn-sm(type="button" data-toggle="collapse" data-target="#filterCollapse")
            i.fas.fa-chevron-down
    .card-body.collapse.show#filterCollapse
      .row
        .col-md-4.mb-3
          //+filter-status(status)
        .col-md-4.mb-3
          +sort()
        .col-md-4.mb-3
          +form-search(searchs)

  .card
    .card-header.bg-white
      .row.align-items-center
        .col-md-6
          h5.card-title.mb-0
            i.fas.fa-list.mr-2
            | Danh sách tài khoản
        .col-md-6.text-right
          +multiChangeStatus(`${systemAdmin}/accounts/mutil-change-status?_method=PATCH`)
    
    .card-body
      +flashMessage()
      
      .table-responsive
        table.table.table-hover.table-bordered.align-middle(check-box-multi)
          thead.thead-light
            tr
              th.text-center(style="width: 50px")
                input(type="checkbox" name="checkall")
              th.text-center(style="width: 60px") STT
              th(style="width: 100px") Avatar
              th Thông tin tài khoản
              th.text-center(style="width: 120px") Nhóm quyền
              if(roleList.permissions.includes('accounts_edit'))
                th.text-center(style="width: 120px") Trạng thái
              th.text-center(style="width: 200px") Thao tác
          tbody
            each account, index in accounts
              tr
                td.text-center
                  input(type="checkbox" name="checkone" value=account.id)
                td.text-center #{index+1}
                td
                  .account-avatar
                    img.img-thumbnail(src=account.avatar || "/admin/images/avatar-default.png", alt=account.fullName)
                td
                  .account-info
                    h6.mb-1 #{account.fullName}
                    small.text-muted
                      i.fas.fa-envelope.mr-1
                      | #{account.email}
                    if account.phone
                      br
                      small.text-muted
                        i.fas.fa-phone.mr-1
                        | #{account.phone}
                td.text-center
                  span.badge.badge-info.p-2 #{account.role}
                if(roleList.permissions.includes('accounts_edit'))
                  td.text-center
                    if account.status == 'active'
                      a.badge.badge-success.p-2(href="javascript:;" data-id=account.id button-change-status=account.status)
                        i.fas.fa-check.mr-1
                        | Hoạt động
                    else
                      a.badge.badge-danger.p-2(href="javascript:;" data-id=account.id button-change-status=account.status)
                        i.fas.fa-times.mr-1
                        | Ngừng hoạt động
                td.text-center
                  .btn-group
                    if(roleList.permissions.includes('accounts_edit'))
                      a.btn.btn-warning.btn-sm(href=`${systemAdmin}/accounts/edit/${account.id}` title="Sửa" button-edit)
                        i.fas.fa-edit.mr-1
                        | Sửa
                    if(roleList.permissions.includes('accounts_delete'))
                      button.btn.btn-danger.btn-sm(title="Xóa" button-delete data-id=account.id)
                        i.fas.fa-trash-alt.mr-1
                        | Xóa

      .mt-4
        nav
          ul.pagination.justify-content-center
            //  +objectPagination(objectPagination)

  form(action='' method="POST" id="form-change-status" data-url=`${systemAdmin}/accounts/change-status`)
  form(action='' method="POST" id="form-delete" data-url=`${systemAdmin}/accounts/delete`)
  script(src="/admin/js/accounts.js")