extends ../../layout/default.pug
include ../../mixins/box-head.pug
block main
  .container.my-4
    //- Breadcrumb
    nav(aria-label="breadcrumb")
      ol.breadcrumb
        li.breadcrumb-item
          a(href="/") Trang chủ
        li.breadcrumb-item
          a(href="/product") Sản phẩm
        if item.category
          li.breadcrumb-item
            a(href=`/product?category=${item.category.slug}`) #{item.category.title}
        li.breadcrumb-item.active(aria-current="page") #{item.title}

    .row
      //- Product Gallery
      .col-md-6
        .product-gallery
          .main-image.mb-3
            img.img-fluid(src=item.thumbnail, alt=item.title)
          .thumbnail-list
            if item.images && item.images.length > 0
              each image in item.images
                .thumbnail-item
                  img(src=image, alt=item.title)

      //- Product Info
      .col-md-6
        .product-details
          h1.product-title #{item.title}
          
          .product-meta
            if item.product_category_id
              .meta-item
                i.fas.fa-tag
                span Danh mục: 
                a(href=`/product${category.slug}`) #{category.title}
            .meta-item
              i.fas.fa-box
              span Mã sản phẩm: 
              span #{item._id}
            .meta-item
              i.fas.fa-eye
              span Lượt xem: 
              span #{item.view || 0}

          .product-price-box
            if item.discountPercentage > 0
              .price-wrapper
                span.price-new Giá mới: #{item.newPrice}$
                br
                span.price-old Giá Gốc: #{item.price}$
                br
                span.discount-badge Giảm tới -#{item.discountPercentage}%
            else
              .price-wrapper
                span.price-new #{item.price}$
          .product-stock
            if item.stock > 0
              .stock-status.in-stock
                i.fas.fa-check-circle
                span Còn hàng (#{item.stock} sản phẩm)
            else
              .stock-status.out-of-stock
                i.fas.fa-times-circle
                span Hết hàng
          .product-actions
            .quantity-selector(edit-quantity)
              button.btn-quantity(type="button" id="decrease" data-action="decrease") -
              input.form-control(type="number" value="1" min="1" max=item.stock)
              button.btn-quantity(type="button" id="increase" data-action="increase") +
            .action-buttons
              button.btn.btn-primary.btn-add-cart
                i.fas.fa-shopping-cart
                span Thêm vào giỏ
              button.btn.btn-outline-danger.btn-wishlist
                i.far.fa-heart
                span Yêu thích
              button.btn.btn-outline-info.btn-share
                i.fas.fa-share-alt
                span Chia sẻ
                
          .product-description
            h5 Mô tả sản phẩm
            .description-content !{item.description}

          .product-features
            h5 Thông số kỹ thuật
            table.table.table-striped
              tbody
                if item.features
                  each value, key in item.features
                    tr
                      th #{key}
                      td #{value}

    //- Related Products
    .related-products.mt-5
      h3.section-title Sản phẩm liên quan
      .row
        each product in relatedProducts || []
          .col-md-3.mb-4
            .product-card
              .product-badge
                if product.discountPercentage > 0
                  span.badge.badge-danger -#{product.discountPercentage}%
              .product-thumbnail
                a(href=`/product/${product.slug}`)
                  img(src=product.thumbnail, alt=product.title)
              .product-info
                h4.product-title
                  a(href=`/product/${product.slug}`) #{product.title}
                .product-price
                  if product.discountPercentage > 0
                    span.price-new #{product.newPrice}$
                    span.price-old #{product.price}$
                  else
                    span.price-new #{product.price}$