extends ../../layout/default.pug
include ../../mixins/box-head.pug
block main
  .container.my-3
    .row
      .col-12
        +box-head("Sản phẩm nổi bật")
    .row
      each product in Product
        .col-4.mb-3
          .product-item
            .inner-image
              img(src=product.thumbnail, alt=product.title)
            .inner-content
              h3.inner-title #{product.title}
              .inner-price-new #{product.newPrice}$
              .inner-price-old #{product.price}
              .inner-discount #{product.discountPercentage}%