extends ../../layout/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search-product.pug
include ../../mixins/pagination-page.pug
include ../../mixins/multi-change-status.pug
include ../../mixins/flash-messages.pug
include ../../mixins/sort.pug

block main
  .page-header.mb-4
    .row.align-items-center
      .col-md-6
        h1.page-title
          i.fas.fa-box.mr-2
          | Quản lý sản phẩm
      .col-md-6.text-right
        if(roleList.permissions.includes('products_create'))
          a.btn.btn-primary(href=`${systemAdmin}/product/create`)
            i.fas.fa-plus.mr-2
            | Thêm sản phẩm mới

  .card.mb-4
    .card-header.bg-white
      .row.align-items-center
        .col-md-6
          h5.card-title.mb-0
            i.fas.fa-filter.mr-2
            | Bộ lọc và tìm kiếm
        .col-md-6.text-right
          button.btn.btn-link.btn-sm(type="button" data-toggle="collapse" data-target="#filterCollapse")
            i.fas.fa-chevron-down
    .card-body.collapse.show#filterCollapse
      .row
        .col-md-4.mb-3
          +filter-status(status)
        .col-md-4.mb-3
          +sort()
        .col-md-4.mb-3
          +form-search(searchs)

  .card
    .card-header.bg-white
      .row.align-items-center
        .col-md-6
          h5.card-title.mb-0
            i.fas.fa-list.mr-2
            | Danh sách sản phẩm
        .col-md-6.text-right
          +multiChangeStatus(`${systemAdmin}/product/mutil-change-status?_method=PATCH`)
    
    .card-body
      +flashMessage()
      
      .table-responsive
        table.table.table-hover.table-bordered.align-middle(check-box-multi)
          thead.thead-light
            tr
              th.text-center(style="width: 50px")
                input(type="checkbox" name="checkall")
              th.text-center(style="width: 60px") STT
              th(style="width: 100px") Hình ảnh
              th Tiêu đề
              th Người tạo
              th.text-center(style="width: 120px") Giá
              if(roleList.permissions.includes('products_edit'))
                th.text-center(style="width: 100px") Vị trí
              if(roleList.permissions.includes('products_edit'))
                th.text-center(style="width: 120px") Trạng thái
              th.text-center(style="width: 200px") Thao tác
          tbody
            each product, index in ProductModel
              tr
                td.text-center
                  input(type="checkbox" name="checkone" value=product.id)
                td.text-center #{index+1}
                td
                  .product-thumbnail
                    img.img-thumbnail(src=product.thumbnail, alt=product.title)
                td
                  .product-info
                    h6.mb-1 #{product.title}
                    if product.category
                      small.text-muted
                        i.fas.fa-tag.mr-1
                        | #{product.category.title}
                td
                  .product-info
                    h6.mb-1 #{product.accountFullname}
                  if(product.created_by.created_at)
                    small.text-muted
                      i.fas.fa-clock.mr-1
                      | #{moment(product.created_by.created_at).format('DD/MM/YYYY HH:mm:ss')}
                td.text-center
                  if product.discountPercentage > 0
                    .price-wrapper
                      //span.price-  #{product.newPrice}$
                      span.price-new #{product.price}$
                      span.badge.badge-danger.ml-2 -#{product.discountPercentage}%
                  else
                    span.price-new #{product.price}$
                if(roleList.permissions.includes('products_edit'))
                  td.text-center
                    input.form-control.form-control-sm.text-center(type="number" value=product.position style="width:60px" min='1' name='position')
                if(roleList.permissions.includes('products_edit'))
                  td.text-center
                    if product.status == 'active'
                      a.badge.badge-success.p-2(href="javascript:;" data-id=product.id button-change-status=product.status)
                        i.fas.fa-check.mr-1
                        | Hoạt động
                    else
                      a.badge.badge-danger.p-2(href="javascript:;" data-id=product.id button-change-status=product.status)
                        i.fas.fa-times.mr-1
                        | Ngừng hoạt động
                td.text-center
                  .btn-group
                    a.btn.btn-info.btn-sm(href=`${systemAdmin}/product/detail/${product.id}` title="Chi tiết" button-detail) Chi tiết
                      i.fas.fa-eye
                    if(roleList.permissions.includes('products_edit'))
                      a.btn.btn-warning.btn-sm(href=`${systemAdmin}/product/edit/${product.id}` title="Sửa" button-edit) Sửa
                        i.fas.fa-edit
                    if(roleList.permissions.includes('products_delete'))
                      button.btn.btn-danger.btn-sm(title="Xóa" button-change-deleted data-id=product.id) Xóa
                        i.fas.fa-trash-alt

      .mt-4
        nav
          ul.pagination.justify-content-center
            +objectPagination(objectPagination)

  form(action='' method="POST" id="form-change-status" data-url=`${systemAdmin}/product/change-status`)
  form(action='' method="POST" id="form-change-deleted" data-url=`${systemAdmin}/product/change-deleted`)
  script(src="/admin/js/product.js")
