extends ../../layout/default.pug
include ../../mixins/search-product.pug
include ../../mixins/pagination-page.pug
include ../../mixins/multi-change-status.pug
include ../../mixins/flash-messages.pug
include ../../mixins/trash-selected.pug
block main
  .card.mb-3
    .card-header Thung rac
    .card-body
      .row
        .col-4
          div(trash)
            select(name="trash" class="form-control" trash-selected)
              option(value="product" ) san pham
              option(value="category") danh muc
              option(value="permission") Nhom quyen
              option(value="account") tai khoan
          .col-4
          .d-flex.align-items-center  
            form(id="form-search")
                  .input-group
                    input(type="text", name="search", placeholder="Tim kiem san pham" class="form-control" value=``)
                    .input-group-append
                      button(type="submit" class="btn btn-success") Tim kiem
        .col-4
          if(selected)
            +multiChangeTrash(`${systemAdmin}/trash/multiChangeTrash?_method=PATCH&selected=${selected}`)
    .card.mb-3  
      .card-header Danh sach
        +flashMessage()
        .card-body
          +trash-selected(product,selected)
  nav
    ul(class="pagination")
      li(class="page-item")
      if objectPagination.page > 1
          button(class="page-link" button-pagination=objectPagination.page-1) <<
      -for(let i=1;i<=objectPagination.totalPage;i++)
        li(class=`page-item ${i == objectPagination.page ? 'active' : ''}`) 
          button(class="page-link" button-pagination=i) #{i}
      li(class="page-item")
      if objectPagination.page < objectPagination.totalPage
          button(class="page-link" button-pagination=objectPagination.page+1) >>
  form(action='', method="POST" id="form-change-deleted" data-url=`${systemAdmin}/trash/delete`)
  form(action='', method="POST" id="form-change-restore" data-url=`${systemAdmin}/trash/restore`)
  script(src="/admin/js/trash.js")