extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/renderCategories.pug

block main
  .search-header
    .container
      .search-info
        h2 Kết quả tìm kiếm cho: 
          span.search-keyword #{keyword}
        p.search-count Tìm thấy 
          strong #{products.length} 
          | sản phẩm

  .container
    .row
      //- Filters
      .col-md-3
        .filter-section
          h5.filter-title
            i.fas.fa-filter.me-2
            | Bộ lọc
          .filter-group
            h6 Danh mục
            .category-list
                .category-item
                    +renderCategories(layoutCategories)
          .filter-group
            h6 Giá
              .price-range
                .form-check
                  input#price1.form-check-input(type="radio" name="price" value="0-100")
                  label.form-check-label(for="price1") Dưới 100$
                .form-check
                  input#price2.form-check-input(type="radio" name="price" value="100-500")
                  label.form-check-label(for="price2") 100$ - 500$
                .form-check
                  input#price3.form-check-input(type="radio" name="price" value="500-1000")
                  label.form-check-label(for="price3") 500$ - 1000$
                .form-check
                  input#price4.form-check-input(type="radio" name="price" value="1000-Infinity")
                  label.form-check-label(for="price4") Trên 1000$
          .filter-group
            h6 Sắp xếp
            select.form-select(name="sort")
              option(value="newest") Mới nhất
              option(value="price-asc") Giá tăng dần
              option(value="price-desc") Giá giảm dần
              option(value="name-asc") Tên A-Z
              option(value="name-desc") Tên Z-A

      //- Products Grid
      .col-md-9
        if products.length > 0
          .row
            each product in products
              .col-md-4.mb-4
                .product-card
                  .product-thumbnail
                    a(href=`/product/detail/${product.slug}`)
                      img(src=product.thumbnail, alt=product.title)
                    .product-badge
                        if product.discountPercentage > 0
                            span.badge.badge-danger -#{product.discountPercentage}%
                        if product.stock <= 0
                            span.badge.badge-warning Hết hàng
                        if product.featured == '1'
                            span.badge.badge-success Nổi bật
                  .product-info
                    .product-category
                      if product.category
                        i.fa-solid.fa-tag
                        a(href=`/product/${product.category.slug}`) #{ product.category.title}
                    h3.product-title
                      a(href=`/product/detail/${product.slug}`) #{product.title}
                    .product-price
                      if product.discountPercentage > 0
                        span.price-new #{product.newPrice}$
                        span.price-old #{product.price}$
                      else
                        span.price-new #{product.price}$
                    .product-stock
                      if product.stock > 0
                        span.stock-status.in-stock
                          i.fas.fa-check-circle
                          span Còn hàng
                      else
                        span.stock-status.out-of-stock
                          i.fas.fa-times-circle
                          span Hết hàng
        else
          .no-results
            i.fas.fa-search
            h3 Không tìm thấy sản phẩm
            p Vui lòng thử lại với từ khóa khác
