.sider
  .inner-menu
    ul
      li
        a(href=systemAdmin + '/dashboard') tong quan
      li
        a(href=systemAdmin + '/product') sản phẩm
      li
        a(href=systemAdmin + '/trash') thung rac
      li
        a(href=systemAdmin + '/catelogy') danh mục sản phẩm
      li
        a(href=systemAdmin + '/roles') Tai khoan
      li
        a(href=systemAdmin + '/roles/permission') Phan quyen